.rules__title{
    background-color:#003566;
    padding: 20px;
    color: #ffd60a;
    font-size: clamp(20px, 5vw + 1rem, 40px);
    text-align: center;
    margin-block-end: 30px;
    box-shadow: 5px 5px 0px 0px #000;
}
.descriptions{
    padding: 20px;
    background-color: #cdb4db;
    color: #283618;
    font-size: 20px;
    margin-block-end: 20px;
    box-shadow: 5px 5px 0px 0px #000;
}
.image__box{
    width: max-content;
    margin-inline: auto;
}