.header{
    margin-block: 20px;
}
.header__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-block: 10px;
    border: 2px solid #000;
    background: #D7C3FF;
    box-shadow: 4px 4px 0px 0px #000;
}
.nav{
    flex-grow: 1;
}
.flex__box{
    flex-grow: 1;
}

.link{
    color: #000;
    font-family: Roboto Condensed;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    text-decoration: none;
}